{%
  set classes = [
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
  ]
%}
{{ attach_library("fcbb_theme/landing-page") }}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
    {# <h1>{{ label }}</h1> #}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('node__content') }}>
    {{ content }}
  </div>

</article>