{%
    set classes = [
      'node--' ~ node.bundle|clean_class,
      node.isPromoted() ? 'node--promoted',
      node.isSticky() ? 'node--sticky',
      not node.isPublished() ? 'node--unpublished',
      view_mode ? 'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class : 'node--' ~ node.bundle|clean_class,
    ]
  %}

  {%
  set nid = node.id
%}

  <article{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
      {# <h1>{{ label }}</h1> #}
    {{ title_suffix }}
  
    <div{{ content_attributes.addClass('node__content') }}>
    <div><a href="{{ drupal_url('node/' ~ nid) }}">{{ content.field_director_headshot }}</a>
      {{ label }}
      {{ content.field_director_position_title }}</div>
      {{ content.field_director_bio }}
    </div>
  
  </article>