{%
  set classes = [
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
  ]
%}
{{ attach_library("fcbb_theme/landing-page") }}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
    {# <h1>{{ label }}</h1> #}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('node__content') }}>
    {% if content.field_landing_hero_image.0 is not empty %}
    <div class="wrapper--field-landing-hero-image">
        {{ content.field_landing_hero_image }}
        <div class="field-landing-intro-container">
          <h2>{{ content.field_landing_display_title|field_value }}</h2>
          {{ content.field_landing_intro }}
        </div>
    </div>
    {% else %}
    <div class="field-landing-intro-container">
    <h2>{{ content.field_landing_display_title|field_value }}</h2>
    {{ content.field_landing_intro }}
    </div>
    {% endif %}

    {% if not is_frontpage %}
    {{ content.body }}
    {% endif %}
    {{ content.field_components }}
  </div>

</article>