{%
  set classes = [
    'node--' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--' ~ node.bundle|clean_class ~ '--' ~ view_mode|clean_class : 'node--' ~ node.bundle|clean_class,
    'fixed-container-xl',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
    {# <h2>{{ label }}</h2> #}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('node__content') }}>
    <div class='event-header fixed-container-m'>
    <div class='event-dates-location'>
    {{ content.field_event_dates }}
    <h2>{{ label }}</h2>
    {{ content.field_event_location }}
    </div>
    {{ content.field_event_image }}
    </div>
    <div class='fixed-container-m'>
    {{ content.field_event_details }}
    </div>
  </div>

</article>