{%
  set classes = [
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
  ]
%}
{{ attach_library("fcbb_theme/landing-page") }}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
    {# <h1>{{ label }}</h1> #}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('node__content') }}>
    <div class="wrapper--field-landing-hero-image">
      <div class="field-landing-hero-image">
        {{ content.field_landing_hero_image }}
        <div class="field-landing-intro-container">
          <div class="field-landing-intro">
          <h2>{{ content.field_landing_display_title }}</h2>
          <p>{{ content.field_landing_intro }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper--field-landing-body">
    {{ content.body }}
    </div>
  </div>

</article>